// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
// @import url('https://rsms.me/inter/inter.css');
@import './colors.scss';
// layouts ------------------------
@import '../../layouts/layout.scss';
// components ------------------------
@import './components/header.scss';
@import '../../components/Posts/PostList/postlist.scss';
@import '../../components/Posts/PostCard/PostCard.scss';
@import '../../components/Posts/Post/Post.scss';
@import '../../components/About/about.scss';


html {
  font-family: 'Inter', sans-serif; 
  font-feature-settings: 'liga' 1, 'ss01' 1;
  overflow-x: hidden;
  color: #000;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s ease;
}

ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.1875;
  color: $contrast;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.2;
  color: $contrast;
}

h3 {
  font-size: 1.2rem;
  color: $contrast;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: $contrast;
}
