@import url('https://rsms.me/inter/inter.css');
@import './colors.scss';
// layouts ------------------------
@import './layouts/layout.scss';
//pages ----------------------------
@import './pages/blog/blog.scss';
// components ------------------------
@import './components/header.scss';
@import './components/bloglist.scss';
@import './components/about.scss';


html {
  font-family: 'Inter', sans-serif; 
  font-feature-settings: 'liga' 1, 'ss01' 1;
  overflow-x: hidden;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .2s ease;
}

ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------
h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  color: $dark;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: $contrast;
}

@media (min-width: 72rem) {
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.1875;
  }
  
  h2 {
    font-size: 1.5rem;
    letter-spacing: -.75px;
    line-height: 1.1667;
  }
  
  h3 {
    font-size: 1rem;
    color: $dark;
    font-weight: 600;
  }

  p {
    line-height: 1.4375;
    color: $contrast;
  }
}